/.ipynb_checkpoints
/DATA
/Doc
/Pesi
/Tirocinio_data
/__pycache__
/notebook_scaricati
MASKRCNN/Mask_RCNN
utility/__pycache__
Match/__pycache__
KalmanFilter/__pycache__
Match/__pycache__/__init__.cpython-36.pyc
MASKRCNN/Mask_RCNN
Match/__pycache__/__init__.cpython-36.pyc
Match/__pycache__/icp.cpython-36.pyc
utility/__pycache__/__init__.cpython-36.pyc
utility/__pycache__/utils.cpython-36.pyc
